*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f87b15;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
   width: 200px;
    border-radius: 50%;
}

.topo{
    text-align: center;
    color: white;
}

p{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: black;
}

.links{
    color: black;
    width: 70%;
    height: 60px;
    transition: 0.5s;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 0.3rem;
    /* neumorphism */
    background: #f87b15;
    box-shadow: 5px 5px 10px #b3590f,
                -5px -5px 10px #ff9d1b;
    cursor: pointer;

}

.links:hover{
    background-color: rgb(44, 44, 44);
    box-shadow: 0px 5px 4px rgb(43, 42, 42);
    color: white;
}

.social{
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
    align-items: center;
}

.social p{
    margin-left: 20px;
}


.icones{
    width: 30px;
    margin-right: 20px;
    margin-bottom: 15px;
}

a:visited{
    color: black;
}

a:visited:hover{
    color: white;
}

.email{
    color: rgb(0, 0, 0);
}

footer{
    text-align: center;
}

#link{
    color: white;
}